@{
    ViewData["Title"] = "Home Page";
}
<h1 style="text-align:center">@ViewData["Title"]</h1>
<div style="border:1px solid black; border-radius: 25px; padding: 25px">
    <p><b>Log in</b> or <b>register</b> to get access to <i style="color: orangered">Raporting</i> and <i style="color: royalblue">List of raported elements</i> sections.</p>
    <br />
    <p>Page allow to build database containing informations about:</p>
    <ol>
        <li>damaged units by their ID,</li>
        <li>type of damage,</li>
        <li>date of adding units to database,</li>
        <li>persons who added or edited data to databes.</li>
    </ol>
    <p>The page also allows you to search for information about entities added to the database.</p>
</div>