@{
    ViewData["Title"] = "Home Page";
}
<h1 style="text-align:center">@ViewData["Title"]</h1>
<div style="border:1px solid black; border-radius: 25px; padding: 25px">
    <p><b>Log in</b> or <b>register</b> to get access to <i style="color: orangered">Raporting</i> and <i style="color: royalblue">List of raported elements</i> sections.</p>
    <br />
    <p>Page allow to build database containing informations about:</p>
    <ol>
        <li>damaged units sorted by their ID,</li>
        <li>types of damages,</li>
        <li>dates of added units to database and dates of made updates,</li>
        <li>people who added or edited data in the databes.</li>
    </ol>
</div>