@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 style="text-align:center">@ViewData["Title"]</h1>
<br />
<div style="border:1px solid black; border-radius: 25px; padding: 25px">
    <p>Page created as an anexe to CV.</p>
    <br />
    <p>Page does not redistribute users data used in account creation process.</p>
    <br />
    <p>Daily limit of registered accounts is 50. Not recieving e-mail with link to activate account may be a result of exceeding that number.</p>
    <p>However I highly doubt it. :]</p>
</div>
