@model CVeffort.Models.DamagedUnits
@{
    ViewData["Title"] = "Raporting damaged unit to servis";
}
<h1 style="text-align:center">@ViewData["Title"]</h1>

@if (ViewBag.msg != null)
{
    <script type="text/javascript">
        window.onload = function ()
        {
            alert("@ViewBag.msg");
        }
    </script>
}

<div class="bg-primary" style="border-radius: 25px; padding: 25px">
    <h3>Report damaged element</h3>
    <p>Use grid and symbols to tell us exacly what and where is wrong with your element.</p>
    <dl>
        <dt>Legend:</dt>
        <dd>press <b>1</b> for corrosion - <b>CR</b>,</dd>
        <dd>press <b>2</b> for colored area - <b>CL</b>,</dd>
        <dd>press <b>3</b> for hole - <b>H</b>,</dd>
        <dd>press <b>4</b> for deformation - <b>D</b>,</dd>
        <dd>press <b>DEL</b> to erese filled grid.</dd>
    </dl>
</div>
<br>



<div>
    <form asp-controller="DamagedUnits" asp-action="Create">
        <table class="NoBorder" style="width: 100%">
            <tr class="NoBorder">
                <td class="NoBorder" style="width:50%">
                    <table class="NoBorder">
                        <tr>
                            <td></td>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                            <td>7</td>
                            <td>8</td>
                            <td>9</td>
                            <td>10</td>
                            <td>11</td>
                            <td>12</td>
                            <td>13</td>
                            <td>14</td>
                            <td>15</td>
                        </tr>
                        <tr class="MyEdge">
                            <td class="WhiteCell">A</td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="A1" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="A2" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="A3" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="A4" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="A5" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="A6" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="A7" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="A8" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="A9" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="A10" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="A11" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="A12" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="A13" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="A14" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="A15" type="text" readonly /></td>
                        </tr>
                        <tr>
                            <td>B</td>
                            <td class="MyEdge"><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="B1" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="B2" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="B3" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="B4" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="B5" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="B6" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="B7" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="B8" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="B9" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="B10" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="B11" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="B12" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="B13" type="text" readonly /></td>
                            <td class="PipeCell"><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="B14" type="text" readonly /></td>
                            <td class="MyEdge"><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="B15" type="text" readonly /></td>
                        </tr>
                        <tr>
                            <td>C</td>
                            <td class="MyEdge"><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="C1" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="C2" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="C3" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="C4" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="C5" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="C6" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="C7" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="C8" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="C9" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="C10" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="C11" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="C12" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="C13" type="text" readonly /></td>
                            <td class="PipeCell"><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="C14" type="text" readonly /></td>
                            <td class="MyEdge"><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="C15" type="text" readonly /></td>
                        </tr>
                        <tr>
                            <td>D</td>
                            <td class="MyEdge"><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="D1" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="D2" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="D3" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="D4" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="D5" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="D6" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="D7" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="D8" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="D9" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="D10" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="D11" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="D12" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="D13" type="text" readonly /></td>
                            <td class="PipeCell"><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="D14" type="text" readonly /></td>
                            <td class="MyEdge"><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="D15" type="text" readonly /></td>
                        </tr>
                        <tr>
                            <td>E</td>
                            <td class="MyEdge"><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="E1" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="E2" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="E3" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="E4" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="E5" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="E6" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="E7" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="E8" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="E9" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="E10" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="E11" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="E12" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="E13" type="text" readonly /></td>
                            <td class="PipeCell"><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="E14" type="text" readonly /></td>
                            <td class="MyEdge"><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="E15" type="text" readonly /></td>
                        </tr>
                        <tr>
                            <td>F</td>
                            <td class="MyEdge"><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="F1" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="F2" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="F3" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="F4" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="F5" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="F6" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="F7" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="F8" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="F9" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="F10" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="F11" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="F12" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="F13" type="text" readonly /></td>
                            <td class="PipeCell"><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="F14" type="text" readonly /></td>
                            <td class="MyEdge"><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="F15" type="text" readonly /></td>
                        </tr>
                        <tr>
                            <td>G</td>
                            <td class="MyEdge"><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="G1" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="G2" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="G3" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="G4" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="G5" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="G6" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="G7" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="G8" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="G9" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="G10" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="G11" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="G12" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="G13" type="text" readonly /></td>
                            <td class="PipeCell"><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="G14" type="text" readonly /></td>
                            <td class="MyEdge"><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="G15" type="text" readonly /></td>
                        </tr>
                        <tr class="MyEdge">
                            <td class="WhiteCell">H</td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="H1" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="H2" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="H3" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="H4" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="H5" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="H6" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="H7" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="H8" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="H9" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="H10" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="H11" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="H12" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="H13" type="text" readonly /></td>
                            <td class="PipeCell"><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="H14" type="text" readonly /></td>
                            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="H15" type="text" readonly /></td>
                        </tr>
                        <tr class="NoBorder">
                            <td class="NoBorder"></td>
                            <td class="NoBorder"></td>
                            <td class="NoBorder"></td>
                            <td class="NoBorder"></td>
                            <td class="NoBorder"></td>
                            <td class="NoBorder"></td>
                            <td class="NoBorder"></td>
                            <td class="NoBorder"></td>
                            <td class="NoBorder"></td>
                            <td class="NoBorder"></td>
                            <td class="NoBorder"></td>
                            <td class="NoBorder"></td>
                            <td class="NoBorder"></td>
                            <td class="NoBorder"></td>
                            <td class="PipeCell"></td>
                            <td class="NoBorder"></td>
                        </tr>
                    </table>
                </td>
                <td class="NoBorder" style="text-align:left; vertical-align:top">
                    <div style="border:1px solid black; border-radius: 25px; padding: 25px">
                        <p>How to fill sheet:</p>
                        <ol>
                            <li>Chose grid and press certain keyboard button to add information about type of breakage.</li>
                            <li>Keep in mind <span style="color:lightgray"><b>this color is reservd for border area with screws</b></span> and <span style="color:gray"><b>this is for areas where pipes are located</b></span>.</li>
                            <li>Fill serial number of element.</li>
                            <li>Press <span style="color:green"><b>Save</b></span> to send filled sheet to servis team.</li>
                        </ol>
                    </div>
                </td>
            </tr>
        </table>
        <br />
        <table class="NoBorder" style="width:60%">
            <tr class="NoBorder" style="vertical-align:middle">
                <td class="NoBorder" style="text-align:left">
                    <label for="IdOfElement">ID of element: </label>
                    <input id="myID" asp-for="Id" />
                </td>
                <td class="NoBorder">
                    <input type="submit" value=" Save " style="color:green" />
                </td>
            </tr>
        </table>
    </form>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("input[type=text]").keydown(function (e) {
                switch (e.which) {
                    case 49:
                        return $(this).val("CR");
                        break;
                    case 50:
                        return $(this).val("CL");
                        break;
                    case 51:
                        return $(this).val("H");
                        break;
                    case 52:
                        return $(this).val("D");
                        break;
                    case 46:
                        return $(this).val("");
                        break;
                }
            })
            $("#myID").keyup(function () {
                let x = $(this).val();
                if (x > 2147483647) {
                    alert("Too big ID number!");
                }
            })
        });
    </script>
}