@model CVeffort.Models.DamagedUnits

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <table class="NoBorder">
        <tr>
            <td></td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
            <td>11</td>
            <td>12</td>
            <td>13</td>
            <td>14</td>
            <td>15</td>
        </tr>
        <tr class="MyEdge">
            <td class="WhiteCell">A</td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="A1" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="A2" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="A3" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="A4" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="A5" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="A6" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="A7" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="A8" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="A9" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="A10" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="A11" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="A12" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="A13" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="A14" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="A15" type="text" readonly /></td>
        </tr>
        <tr>
            <td>B</td>
            <td class="MyEdge"><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="B1" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="B2" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="B3" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="B4" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="B5" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="B6" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="B7" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="B8" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="B9" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="B10" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="B11" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="B12" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="B13" type="text" readonly /></td>
            <td class="PipeCell"><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="B14" type="text" readonly /></td>
            <td class="MyEdge"><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="B15" type="text" readonly /></td>
        </tr>
        <tr>
            <td>C</td>
            <td class="MyEdge"><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="C1" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="C2" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="C3" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="C4" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="C5" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="C6" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="C7" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="C8" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="C9" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="C10" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="C11" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="C12" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="C13" type="text" readonly /></td>
            <td class="PipeCell"><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="C14" type="text" readonly /></td>
            <td class="MyEdge"><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="C15" type="text" readonly /></td>
        </tr>
        <tr>
            <td>D</td>
            <td class="MyEdge"><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="D1" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="D2" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="D3" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="D4" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="D5" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="D6" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="D7" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="D8" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="D9" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="D10" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="D11" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="D12" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="D13" type="text" readonly /></td>
            <td class="PipeCell"><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="D14" type="text" readonly /></td>
            <td class="MyEdge"><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="D15" type="text" readonly /></td>
        </tr>
        <tr>
            <td>E</td>
            <td class="MyEdge"><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="E1" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="E2" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="E3" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="E4" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="E5" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="E6" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="E7" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="E8" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="E9" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="E10" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="E11" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="E12" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="E13" type="text" readonly /></td>
            <td class="PipeCell"><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="E14" type="text" readonly /></td>
            <td class="MyEdge"><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="E15" type="text" readonly /></td>
        </tr>
        <tr>
            <td>F</td>
            <td class="MyEdge"><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="F1" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="F2" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="F3" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="F4" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="F5" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="F6" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="F7" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="F8" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="F9" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="F10" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="F11" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="F12" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="F13" type="text" readonly /></td>
            <td class="PipeCell"><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="F14" type="text" readonly /></td>
            <td class="MyEdge"><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="F15" type="text" readonly /></td>
        </tr>
        <tr>
            <td>G</td>
            <td class="MyEdge"><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="G1" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="G2" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="G3" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="G4" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="G5" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="G6" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="G7" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="G8" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="G9" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="G10" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="G11" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="G12" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="G13" type="text" readonly /></td>
            <td class="PipeCell"><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="G14" type="text" readonly /></td>
            <td class="MyEdge"><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="G15" type="text" readonly /></td>
        </tr>
        <tr class="MyEdge">
            <td class="WhiteCell">H</td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="H1" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="H2" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="H3" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="H4" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="H5" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="H6" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="H7" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="H8" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="H9" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="H10" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="H11" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="H12" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="H13" type="text" readonly /></td>
            <td class="PipeCell"><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="H14" type="text" readonly /></td>
            <td><input style="height:30px; width:30px;background-color:transparent; border: hidden;" asp-for="H15" type="text" readonly /></td>
        </tr>
        <tr class="NoBorder">
            <td class="NoBorder"></td>
            <td class="NoBorder"></td>
            <td class="NoBorder"></td>
            <td class="NoBorder"></td>
            <td class="NoBorder"></td>
            <td class="NoBorder"></td>
            <td class="NoBorder"></td>
            <td class="NoBorder"></td>
            <td class="NoBorder"></td>
            <td class="NoBorder"></td>
            <td class="NoBorder"></td>
            <td class="NoBorder"></td>
            <td class="NoBorder"></td>
            <td class="NoBorder"></td>
            <td class="PipeCell"></td>
            <td class="NoBorder"></td>
        </tr>
    </table>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="ListOfRaportedElements">Back to List</a>
</div>
